<%= form_with(model: institute, local: true) do |form| %>
  <% if institute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(institute.errors.count, "error") %> prohibited this institute from being saved:</h2>

      <ul>
      <% institute.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :institute_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :institute_address %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :institute_phone %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :institute_city %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :institute_email %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website, id: :institute_website %>
  </div>

  <div class="field">
    <%= form.label :references %>
    <%= form.text_field :references, id: :institute_references %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
