<p id="notice"><%= notice %></p>

<h1>Institutes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>City</th>
      <th>Email</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @institutes.each do |institute| %>
      <tr>
        <td><%= institute.name %></td>
        <td><%= institute.address %></td>
        <td><%= institute.phone %></td>
        <td><%= institute.city %></td>
        <td><%= institute.email %></td>
        <td><%= institute.website %></td>
        <td><%= link_to 'Show', institute %></td>
        <td><%= link_to 'Edit', edit_institute_path(institute) %></td>
        <td><% if Current.user.role_id == 1 %><%= link_to 'Destroy', institute, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if Current.user.role_id == 1 %>
  <%= link_to 'New Institute', new_institute_path %>
<% end %>