<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @batch.number %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @batch.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @batch.end_date %>
</p>

<p>
  <strong>Timee:</strong>
  <%= @batch.timee %>
</p>

<p>
  <strong>User:</strong>
  <%= @batch.user_id %>
</p>

<p>
  <strong>References:</strong>
  <%= @batch.references %>
</p>

<%= link_to 'Edit', edit_batch_path(@batch) %> |
<%= link_to 'Back', batches_path %>
