<%= form_with(model: fee, local: true) do |form| %>
  <% if fee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fee.errors.count, "error") %> prohibited this fee from being saved:</h2>

      <ul>
      <% fee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :fee_user_id %>
  </div>

  <div class="field">
    <%= form.label :batch_id %>
    <%= form.text_field :batch_id, id: :fee_batch_id %>
  </div>

  <div class="field">
    <%= form.label :course_id %>
    <%= form.text_field :course_id, id: :fee_course_id %>
  </div>

  <div class="field">
    <%= form.label :total_fee_paid %>
    <%= form.check_box :total_fee_paid, id: :fee_total_fee_paid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
